/*

!.gitignore

!/bin/
!/config/
!/public/
!/src/
!/swoole-server/
!/templates/
!/tests/
!/var/

!.env.example
!composer.json
!docker-compose.yml
!docker-compose-dev.yml
!LICENSE
!phpunit.xml
!README.md
!xdebug.disable.ini
!xdebug.ini
