/*

!.gitignore
!/bin/
!/public/
!/src/
!/tests/
!/templates/
!/var/
!.env.example
!.gitignore
!composer.json
!docker-compose.yml
!docker-compose-dev.yml
!LICENSE
!phpunit.xml
!README.md
!xdebug.disable.ini
!xdebug.ini